<div class="list">


  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="Hugh" ng-model="user['first name']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Mungus" ng-model="user['last name']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Username</span>
    <input type="text" placeholder="hughmungus" ng-model="user['username']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="hugh@mungus.com" ng-model="user['email']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password" ng-model="user['password']">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Confirm Password</span>
    <input type="password" ng-model="user['password']">
  </label>


  <br>

  <button class="button button-block button-positive">Create User</button>

</div>
